- @no_container = true
- @sort ||= sort_value_recently_updated
- page_title _('TagsPage|Tags')
- add_to_breadcrumbs("Repository", project_tree_path(@project))

.flex-list{ class: container_class }
  .top-area.adjust
    .nav-text.row-main-content
      = s_('TagsPage|Tags give the ability to mark specific points in history as being important')

    .nav-controls.row-fixed-content
      = form_tag(filter_tags_path, method: :get) do
        = search_field_tag :search, params[:search], { placeholder: s_('TagsPage|Filter by tag name'), id: 'tag-search', class: 'form-control search-text-input input-short', spellcheck: false }

      .dropdown
        %button.dropdown-toggle{ type: 'button', data: { toggle: 'dropdown'} }
          %span.light
            = tags_sort_options_hash[@sort]
          = icon('chevron-down')
        %ul.dropdown-menu.dropdown-menu-align-right.dropdown-menu-selectable
          %li.dropdown-header
            = s_('TagsPage|Sort by')
          - tags_sort_options_hash.each do |value, title|
            %li
              = link_to title, filter_tags_path(sort: value), class: ("is-active" if @sort == value)
      - if can?(current_user, :push_code, @project)
        = link_to new_project_tag_path(@project), class: 'btn btn-create new-tag-btn' do
          = s_('TagsPage|New tag')

  = render 'projects/commits/mirror_status'

  .tags
    - if @tags.any?
      %ul.flex-list.content-list
        = render partial: 'tag', collection: @tags

      = paginate @tags, theme: 'gitlab'

    - else
      .nothing-here-block
        = s_('TagsPage|Repository has no tags yet.')
        %br
        %small
          = s_('TagsPage|Use git tag command to add a new one:')
          %br
          %span.monospace git tag -a v1.4 -m 'version 1.4'
