- @no_container = true
- page_title _('Branches')
- add_to_breadcrumbs(_('Repository'), project_tree_path(@project))

%div{ class: container_class }
  .top-area.adjust
    - if can?(current_user, :admin_project, @project)
      .nav-text
        - project_settings_link = link_to s_('Branches|project settings'), project_protected_branches_path(@project)
        = s_('Branches|Protected branches can be managed in %{project_settings_link}').html_safe % { project_settings_link: project_settings_link }

    .nav-controls
      = form_tag(filter_branches_path, method: :get) do
        = search_field_tag :search, params[:search], { placeholder: s_('Branches|Filter by branch name'), id: 'branch-search', class: 'form-control search-text-input input-short', spellcheck: false }

      .dropdown.inline>
        %button.dropdown-menu-toggle{ type: 'button', 'data-toggle' => 'dropdown' }
          %span.light
            = branches_sort_options_hash[@sort]
          = icon('chevron-down')
        %ul.dropdown-menu.dropdown-menu-align-right.dropdown-menu-selectable
          %li.dropdown-header
            = s_('Branches|Sort by')
          - branches_sort_options_hash.each do |value, title|
            %li
              = link_to title, filter_branches_path(sort: value), class: ("is-active" if @sort == value)

      - if can? current_user, :push_code, @project
        = link_to project_merged_branches_path(@project),
          class: 'btn btn-inverted btn-remove has-tooltip',
          title: s_("Branches|Delete all branches that are merged into '%{default_branch}'") % { default_branch: @project.repository.root_ref },
          method: :delete,
          data: { confirm: s_('Branches|Deleting the merged branches cannot be undone. Are you sure?'),
            container: 'body' } do
          = s_('Branches|Delete merged branches')
        = link_to new_project_branch_path(@project), class: 'btn btn-create' do
          = s_('Branches|New branch')

  = render 'projects/commits/mirror_status'

  - if @branches.any?
    %ul.content-list.all-branches
      - @branches.each do |branch|
        = render "projects/branches/branch", branch: branch, merged: @repository.merged_to_root_ref?(branch, @merged_branch_names)
    = paginate @branches, theme: 'gitlab'
  - else
    .nothing-here-block
      = s_('Branches|No branches to show')

= render 'projects/branches/delete_protected_modal'
